.container {
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  background: #ffffff;
}
.editor-container {
  /* font-size */
  box-sizing: border-box;
  display: flex;
  padding: 0 40px 0;
}

.input-title {
  border: none;
  outline: none;
  padding: 20px 40px 0;
  -webkit-appearance: none;
  background: none;
  font-weight: 400;
  font-size: 1.8em;
  color: black;
}
