@media print {


    .ce-block {
      margin: 0 20px;
    }

    .ce-block__content {
      margin-bottom: 2rem;
    }

    .cdx-simple-image {
      width: 1200px !important;
      border: none;
      display: flex;
      align-self: flex-start;
      margin-bottom: 200px;
      margin-top: 50px;
      background: none;
    }

    .cdx-simple-image img {
      display: block;
      width: 100%;
      height: auto;
    }

    .cdx-simple-image__picture img {
    border-radius: 5px;
    width: 120%;
    }

}
