

@media print {
    .editor_editor-container__EVe84 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cdx-simple-image {
        width: 100%;
        align-self: center;
        max-height: 380px;
    }

    .ce-block__content {
        max-width: unset;
    }
}