.video-container {
  height: 100%;
  position: relative;
  background-color: #1f1f1f !important;
}

.video-placeholder-container {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}

.video-placeholder {
  position: relative;
  background-color: #1f1f1f !important;
  width: 100%;
  margin-bottom: 72px;
  padding-top: 56.25%;
}

.video-player {
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  display: block;
  position: absolute;
  object-fit: contain;
}

.video-view-controller-container {
  background-color: #3d3d3d !important;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px !important;
}

.video-play-controller-container {
  background-color: #3d3d3d !important;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px !important;
}

.setting-container {
  position: absolute;
  left: 0;
}

.setting-toggle {
  color: #f3f3f3 !important;
  display: flex;
  align-items: center;
}

.setting-icon {
  width: 24px;
  height: 24px;
  margin-right: 6px;
  vertical-align: middle;
  border-style: none;
}

.setting-popup {
  width: 264px;
  border-radius: 5px !important;
  padding: 24px 27px !important;
}

.setting-title {
  font-size: 16px;
  font-weight: 700;
}

.setting-option {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
}

.select {
  width: 77px !important;
}

.control-container {
}

.shortcut-tooltip {
}

.skip-btn {
  font-size: 17px;
  font-weight: 500;
  height: 44px;
  background-color: #797979 !important;
  border-radius: 5px !important;
  color: #f3f3f3 !important;
}

.skip-backward-btn {
}

.skip-backward {
  width: 28px;
  height: 28px;
  vertical-align: middle;
  border-style: none;
}

.skip-forward-btn {
}

.skip-forward {
  width: 28px;
  height: 28px;
  vertical-align: middle;
  border-style: none;
}

.video-icon {
  margin: 0;
  width: 100%;
}

.play-btn {
  padding: 0px !important;
  width: 44px;
  height: 44px;
  margin-left: 12px;
  margin-right: 12px;
  cursor: pointer;
}
