.container {
  display: flex;
  flex-direction: row;
  height: 72px;
  justify-content: space-between;
  background: #ffffff;
  box-shadow: 0 -5px 10px hsl(0, 0%, 97%);
}

.video-document-editor-left-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background: #f7f7f9;
  width: 136px;
}

.video-document-editor-center-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #ffffff;
}

.video-document-editor-right-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background: #f7f7f9;
  width: 136px;
}

.video-document-editor-undo-redo-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50% !important;
}

.video-document-editor-setting-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #dbdbdb;
  height: 50% !important;
  cursor: pointer;
}

.video-document-editor-save-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #dbdbdb;
  height: 50% !important;
  cursor: pointer;
}

.video-document-editor-download-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50% !important;
  cursor: pointer;
}

.video-document-editor-control-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.video-document-editor-save-icon {
  width: 16px;
  height: 16px;
  margin-right: 4px;
  cursor: pointer;
}

.video-document-editor-setting-icon {
  width: 16px;
  height: 16px;
  margin-right: 4px;
  cursor: pointer;
}

.video-document-editor-text {
  font-size: 13px;
}

.video-document-editor-download-icon {
  width: 16px;
  height: 16px;
  margin-right: 4px;
  cursor: pointer;
}

.video-document-editor-capture-btn {
  width: 52px;
  height: 52px;
  margin: 0 6px;
  background: #488cff;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
}

.video-document-editor-capture-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.video-document-editor-capture-option-btn {
  width: 44px;
  height: 44px;
  background-color: #f7f7f9;
  padding: 0 !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.video-document-editor-capture-option-icon {
  width: 20px;
  height: 20px;
}

.video-document-editor-recording-icon {
  width: 30px;
  height: auto;
}

.video-document-editor-setting-popup {
  width: fit-content;
  height: 50px;
  min-width: unset;
  z-index: 10;
  left: 50% !important;
  bottom: 8.5% !important;
  transform: translate(-50%) !important;
  display: flex;
  align-items: center;
  insert: auto auto 0px 0px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background: #ffffff;
  position: absolute;
  border-radius: 5px !important;
}

.video-document-editor-setting-popup button {
  width: 34px;
  height: 34px;
  margin: 0 10px;
  padding: 0.5rem 0;
}
