.container {
  display: flex;
  flex-direction: row;
  height: 72px;
  justify-content: space-between;
  background: #ffffff;
  z-index: 1;
  box-shadow: 0 -5px 10px hsl(0, 0% ,97%);
}

.video_document_editor_left_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background: #f7f7f9;
  width: 136px;
}

.video_document_editor_center_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #ffffff;
}

.video_document_editor_right_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background: #f7f7f9;
  width: 136px;
}

.video_document_editor_undo_redo_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50% !important;
}

.video_document_editor_setting_container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #dbdbdb;
  height: 50% !important;
  cursor: pointer;
}

.video_document_editor_save_container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #dbdbdb;
  height: 50% !important;
  cursor: pointer;
}

.video_document_editor_download_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50% !important;
  cursor: pointer;
}

.video_document_editor_control_icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.video_document_editor_save_icon {
  width: 16px;
  height: 16px;
  margin-right: 4px;
  cursor: pointer;
}

.video_document_editor_setting_icon {
  width: 16px;
  height: 16px;
  margin-right: 4px;
  cursor: pointer;
}

.video_document_editor_text {
  font-size: 13px;
}

.video_document_editor_download_icon {
  width: 16px;
  height: 16px;
  margin-right: 4px;
  cursor: pointer;
}

.video_document_editor_capture_btn {
  width: 52px;
  height: 52px;
  margin: 0 6px;
  background: #488cff;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
}

.video_document_editor_capture_icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
