.container {
  display: flex;
  flex-direction: row;
  height: 72px;
  justify-content: space-between;
  border-top: #c4c4c4 solid 1px;
  background: #ffffff;
  z-index: 1;
}

.video_document_editor_left_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background: #f7f7f9;
  width: 136px;
}

.video_document_editor_center_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  position: relative;
  background: #ffffff;
}

.video_document_editor_right_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background: #f7f7f9;
  width: 136px;
}

.video_document_editor_undo_redo_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50% !important;
}

.video_document_editor_setting_container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #dbdbdb;
  height: 50% !important;
  cursor: pointer;
}

.video_document_editor_save_container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #dbdbdb;
  height: 50% !important;
  cursor: pointer;
}

.video_document_editor_download_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50% !important;
  cursor: pointer;
}
